body {
    font-family: Arial, sans-serif;
    background-color: ##edf1f2;
    text-align: center; 
    padding: 20px;
}
header {
    background-color: #dfe8eb;
    padding: 50px 0;
}
h1 {
    font-size: 2.5em;
    color: #0056b3;
}
nav {   
  background-color: #0099ff;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: black;
  font-size: 1.5em;
}
.employee {
    background-color: #DEDED0;
    padding: 20px;
    width: 550px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
.employee-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.employee img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.employee-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.employee-info ul {
    list-style: none;
    padding: 0;
}
.employee-info li {
    margin-bottom: 8px;
}
