body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #dfe8eb;
}
header {
    background-color: #e6f5ff;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #0056b3;
}
nav {   
  background-color: #0099ff;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
.section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.section h2 {
    margin-top: 0;
    color: #333;
}
.section ul {
    padding-left: 20px;
}
.section ul li {
    margin-bottom: 8px;
}
