body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
header {
  text-align: center;
  color: blue;
  font-size: 2em; 
  padding: 20px;
}
h1 {
  font-size: 1.5em;
  margin: 0;
}

h2, h3 {
  font-size: .5em;
  margin: 10px 0;
}

nav {
  background-color: grey;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

