body {
  margin: 0; 
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  background-color: #f9f9f9; 
  color: #333; 
}
  
header {
  text-align: center;
  color: blue;
  font-size: 2em; 
  padding: 50px;
}
 h1 {
  font-size: 1.65em;
  margin: 0;
  padding: 20x;
}
h2 {
  font-size: .8em;
  margin: 10px 0;
  padding: 20px;
}
h3 {
   font-size: .8em;
  margin: 10px 0;
  padding: 20px;
}
 nav {   
  backgground-color: #0099ff;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
section {
}
.section-wrapper {
  text-align: center;
  padding: 50px;
  background-color: #d9d9d9;
}
  

aside {
}
.section-wrapper1 {
 padding: 50px;
  background-color: #d9d9d9;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 1.5em;
  background-color: #d9d9d9;
  padding: 10px;
  border-top: 1px solid #ddd;
  color: blue;
}
.logo{
  width:20px;
  height:15px;
}
