body {
  font-family: Arial, sans-serif; 
  line-height: 2.5; 
  background-color: #dfe8eb; 
  position: relative;
}
header {
  text-align: center;
  font-size: 2em; 
  padding: 50px;
  background-color: #e6f5ff;
}
 h1 {
  font-size: 1.65em;
  margin: 2px 0;
  color: #0056b3;
}
h2 {
  font-size: .8em;
  margin: 2px 0;
  color: #0056b3;
}
h3 {
  font-size: .8em;
  margin: 2px 0;
  color: #0056b3;
}
h4 {
  font-size: 1.5em;
  font-color: #0056b3;
}
h5 {
  font-size: 1.5em;
  font-color: #0056b3;
}
nav {   
  background-color: #0099ff;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: black;
  font-size: 1.5em;
}
.section-wrapper {
  background-color: #DEDED0;
  padding: 20px; 
  margin: 20px ; 
  border-radius: 5px; 
  text-align: center;
}
footer {
  text-align: center;
  font-size: 1.5em;
  background-color: #0099ff;
  padding: 10px;
  color: black;
}
