body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #e6f5ff;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #0056b3;
}
nav {   
  background-color: #0099ff;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}
.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.product {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #333;
}
