body {
  font-family: Arial, sans-serif; 
  line-height: 2.5; 
  background-color: #f9f9f9; 
  font-size: 15px;
}
header {
  text-align: center;
  color: blue;
  font-size: 2em; 
  padding: 50px;
  background-color: #e6f5ff;
}
nav {   
  background-color: #0099ff;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}
.employee {
  display: flex;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #DEDED0;
  width: 80%;
  text-align: center;
}

.employee img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.employee-info {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  list-style: none;
}
