body {
  font-family: Arial, sans-serif; 
  line-height: 2.0; 
  background-color: #f9f9f9; 
}
  
header {
  text-align: center;
  color: blue;
  font-size: 2em; 
  padding: 50px;
  background-color: #e6f5ff;
}
 h1 {
  font-size: 1.65em;
  margin: 5px 0;
}
h2 {
  font-size: .8em;
  margin: 5px 0;
}
h3 {
   font-size: .8em;
  margin: 5px 0;
}
 nav {   
  background-color: #0099ff;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
.section-wrapper {
  background-color: #d9d9d9;
  padding: 20px; 
  margin: 20px auto; 
  border-radius: 5px; 
  gap: 20px; 
}
footer {
  text-align: center;
  font-size: 1.5em;
  background-color: #0099ff;
  padding: 10px;
  color: black;
}
.logo{
  width:20px;
  height:15px;
}
