body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
header {
  text-align: center;
  color: blue;
  font-size: 2em; 
  padding: 20px;
}
h1 {
  font-size: 1.65em;
  margin: 0;
  backround-color: #e6f9ff
}

h2 {
  font-size: .8em;
  margin: 10px 0;
  backround-color: #e6f9ff
}
h3 {
   font-size: .8em;
  margin: 10px 0;
  backround-color: #e6f9ff
}
 nav{   
  background-color: grey;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
section {
  flex: 1;
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
}

section img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
aside {
  flex: 1;
  padding: 10px;
  background-color: #d9d9d9;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}
footer {
  text-align: center;
  font-size: 1.5em;
  background-color: #d9d9d9;
  padding: 10px;
  border-top: 1px solid #ddd;
  color: blue;
}
.logo{
  width:400px;
  height:320px;
}
