body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #edf1f2;
}
header {
    background-color: #e6f5ff;
    padding: 20px 0;
}
h1 {
    font-size: 2.5em;
    color: #0056b3;
}
nav {
    background-color: #0099ff;
    padding: 10px;
}
nav {   
  background-color: #0099ff;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: black;
  font-size: 1.5em;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
    text-align: left;
}
.map iframe {
    display: block;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 8px;
}
h2 {
    color: #333;
    margin-bottom: 10px;
}
p, a {
    font-size: 1.1em;
    margin: 5px 0;
}
a {
    color: #0056b3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.social-media {
    text-align: center;
    margin-top: 20px;
}
.social-icon {
    width: 50px;
    height: 50px;
    margin: 10px auto;
}
