body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dfe8eb;
    margin: 0;
    padding: 0;
}
header {
    background-color: #e6f5ff;
    padding: 20px 0;
    margin-bottom: 20px;
}
h1 {
    font-size: 2.5em;
    color: #0056b3;
}
nav {   
  background-color: #0099ff;
  text-align: center;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: black;
  font-size: 1.5em;
}
.menu-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.product {
    background-color: #DEDED0;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

.product img {
    width: 425px;
    height: 380px;
    border-radius: 8px;
}
.product h2 {
    margin: 10px;
    font-size: 1.8em;
    color: #0056b3;
}
.product h3 {
    margin: 10px;
    font-size: 1.2em;
    color: #333;
}
