body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center; 
    padding: 20px;
}
header {
    background-color: #e6f5ff;
    padding: 30px 0;
}
h1 {
    font-size: 2.5em;
    color: #0056b3;
}
nav {
    background-color: #0099ff;
    padding: 15px;
    margin-bottom: 30px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
.employee-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.employee {
    background-color: #DEDED0;
    margin: 20px;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
.employee img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    text-align: center;
}

.employee-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.employee-info ul {
    list-style: none;
    padding: 0;
}
.employee-info li {
    margin-bottom: 8px;
}
